*{
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ff28b796;
    height: 12vh;
    position: sticky;
    top: 0px;
}

header h1 {
    text-shadow: 0 1px 1px #000, 0 -1px 1px #000, 1px 0 1px #000, -1px 0 1px #000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 50px;
    color: white;
    width: 65vw;
    height: 12vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 30px;
    color: black;
    width: 40vw;
    height: 3vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    border-radius: 20px;
    border: solid 3px red;
    width: 41vw;
    height: 100vh;
}

img {
    margin: 10px;
    border: solid plum;
    border-radius: 20px;
    display: flex;
    height: 45vh;
    width: 35vw;
}

p {
    font-weight: bold;
    font-size: 19px;
    height: 2.2vh;
}

li {
    width: 38vw;
    height: 2.5vh;
    font-size: 14px;
    display: flex;                                 
    justify-content: flex-start;
    align-items: center;
}

.secondFirst {
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 50vh;
} 

.secondSec {
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 50vh;
}
